.video-playlist-item {
  position: relative;
}
.video-playlist-item.active .video-playlist-item__head {
  color: #ff0048;
}
.video-playlist-item .playlist-video__image {
  border: 2px solid transparent;
}
.video-playlist-item.active .playlist-video__image {
  border: 2px solid #ff0048;
}
.playlist-video__duration.product-price {
  text-transform: uppercase;
}
.checkout-success {
  display: none;
}
.checkout-success span {
  font-size: 14px;
  line-height: 30px;
  vertical-align: top;
}
.videos-container:first-of-type {
  margin-bottom: 20px;
}